.jumbotron {
  padding-top: 7rem;
  background-color: #95a5a6;
}
#project {
  background-color: #95a5a6;
}

#about {
  padding-top: 0rem;
}

section {
  padding-top: 5rem;
}

.hovered-card {
  transition: 0.3s;
}
.hovered-card:hover {
  transform: scale(1.1);
}
